<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
	<title>{{site.name}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1">
	<meta name="description" content="{{site.description}}">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='/css/style.css' rel='stylesheet' type='text/css'>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
	<script src="/js/waypoints.min.js"></script>
</head>
<body>
	<header id="o4l-header">
		<div class="o4l-container clearfix">
			<div id="o4l-title-container">
				<h1 id="o4l-site-title">O4L</h1>
			</div>
			<nav id="o4l-nav">
				<ul id="o4l-nav-list">
					<li><a href="#">Home</a></li>
					<li><a href="#">Posts</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section id="o4l-content" class="clearfix">
