{% include header.html %}

<div id="o4l-post-header" class="clearfix">
	<h2>{{page.restaurant-name}}</h2>

	<div id="o4l-post-image-container" class="clearfix">
		{{ content }}
	</div>
	<div id="o4l-post-score-container" class="clearfix o4l-no-active">
		<div class="o4l-score o4l-score-{{page.atmosphere-score}}">
			<div class="o4l-score-circle o4l-score-circle-1"></div>
			<div class="o4l-score-circle o4l-score-circle-2"></div>
			<div class="o4l-score-circle o4l-score-circle-3"></div>
			<div class="o4l-score-circle o4l-score-circle-4"></div>
			<a href="#o4l-post-atmosphere"><h4>Atmosphere</h4></a>
		</div>
		<div class="o4l-score o4l-score-{{page.taste-score}}">
			<div class="o4l-score-circle o4l-score-circle-1"></div>
			<div class="o4l-score-circle o4l-score-circle-2"></div>
			<div class="o4l-score-circle o4l-score-circle-3"></div>
			<div class="o4l-score-circle o4l-score-circle-4"></div>
			<a href="#o4l-post-taste"><h4>Taste</h4></a>
		</div>
		<div class="o4l-score o4l-score-{{page.price-score}}">
			<div class="o4l-score-circle o4l-score-circle-1"></div>
			<div class="o4l-score-circle o4l-score-circle-2"></div>
			<div class="o4l-score-circle o4l-score-circle-3"></div>
			<div class="o4l-score-circle o4l-score-circle-4"></div>
			<a href="#o4l-post-price"><h4>Price</h4></a>
		</div>
		<div class="o4l-score o4l-score-{{page.serving-score}}">
			<div class="o4l-score-circle o4l-score-circle-1"></div>
			<div class="o4l-score-circle o4l-score-circle-2"></div>
			<div class="o4l-score-circle o4l-score-circle-3"></div>
			<div class="o4l-score-circle o4l-score-circle-4"></div>
			<a href="#o4l-post-serving"><h4>Serving</h4></a>
		</div>
		<div class="o4l-score o4l-score-{{page.service-score}}">
			<div class="o4l-score-circle o4l-score-circle-1"></div>
			<div class="o4l-score-circle o4l-score-circle-2"></div>
			<div class="o4l-score-circle o4l-score-circle-3"></div>
			<div class="o4l-score-circle o4l-score-circle-4"></div>
			<a href="#o4l-post-service"><h4>Service</h4></a>
		</div>
		<div class="o4l-score o4l-score-{{page.overall-score}}">
			<div class="o4l-score-circle o4l-score-circle-1"></div>
			<div class="o4l-score-circle o4l-score-circle-2"></div>
			<div class="o4l-score-circle o4l-score-circle-3"></div>
			<div class="o4l-score-circle o4l-score-circle-4"></div>
			<a href="#o4l-post-overall"><h4>Overall</h4></a>
		</div>
	</div>
	<div id="o4l-post-info-container" class="clearfix">
		<h3>Restaurant Address: <br /><br />{{page.restaurant-address}}</h3>

		<h3>Restaurant Type: <br /><br />{{page.restaurant-type}} </h3>
	</div>
</div>

<div id="o4l-post-container">
	<span class="deal-on-the-meal">Here's the Deal on the Meal: {{page.restaurant-meal}}</span>

	<div id="o4l-post-intro" class="o4l-post-section">
		<h4>Introduction</h4>

		<p>{{page.intro}}</p>
	</div>

	<div id="o4l-post-atmosphere" class="o4l-post-section">
		<h4>Atmosphere</h4>

		<p>{{page.atmosphere}}</p>
	</div>

	<div id="o4l-post-taste" class="o4l-post-section">
		<h4>Taste</h4>

		<p>{{page.taste}}</p>
	</div>

	<div id="o4l-post-price" class="o4l-post-section">
		<h4>Price</h4>

		<p>{{page.price}}</p>
	</div>

	<div id="o4l-post-serving" class="o4l-post-section">
		<h4>Serving Amount</h4>

		<p>{{page.serving}}</p>
	</div>

	<div id="o4l-post-service" class="o4l-post-section">
		<h4>Service</h4>

		<p>{{page.service}}</p>
	</div>

	<div id="o4l-post-overall" class="o4l-post-section">
		<h4>Overall</h4>

		<p>{{page.overall}}</p>
	</div>

	<span class="o4l-author">-{{page.author}}</span>
</div>

{% include footer.html %}
